<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <remote_servers>
{% for clusters_name, shards_name in clickhouse_clusters.items() | list %}
        <{{ clusters_name }}>
{% for shard_name, replicas  in shards_name.items() %}
            <shard>
            <internal_replication>true</internal_replication>
{% for replica in replicas %}
                <replica>
                    <host>{{ replica['host'] }}</host>
                    <port>{{ replica['port'] }}</port>
                    <user>{{ clickhouse_distributed_user }}</user>
                    <password></password>
	        </replica>
{% endfor %}
            </shard>
{% endfor %}
        </{{ clusters_name }}>
{% endfor %}
    </remote_servers>
</yandex>
