<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <remote_servers>
        <distributed_cluster>
            <shard>
            <internal_replication>true</internal_replication>
            {% for node_hostname in groups['clickhouse_ip-shard01'] %}
                <replica>
                    <host>{{ node_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>app_sib</user>
                    <password></password>
                 </replica>
            {% endfor %}
            </shard>
            <shard>
            <internal_replication>true</internal_replication>
            {% for node_hostname in groups['clickhouse_ip-shard02'] %}
                <replica>
                    <host>{{ node_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>app_sib</user>
                    <password></password>
                 </replica>
            {% endfor %}
            </shard>
            <shard>
            <internal_replication>true</internal_replication>
            {% for node_hostname in groups['clickhouse_ip-shard03'] %}
                <replica>
                    <host>{{ node_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>app_sib</user>
                    <password></password>
                 </replica>
            {% endfor %}
            </shard>
            <shard>
            <internal_replication>true</internal_replication>
            {% for node_hostname in groups['clickhouse_ip-shard04'] %}
                <replica>
                    <host>{{ node_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>app_sib</user>
                    <password></password>
                 </replica>
            {% endfor %}
            </shard>
            <shard>
            <internal_replication>true</internal_replication>
            {% for node_hostname in groups['clickhouse_ip-shard05'] %}
                <replica>
                    <host>{{ node_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>app_sib</user>
                    <password></password>
                 </replica>
            {% endfor %}
            </shard>
            <shard>
            <internal_replication>true</internal_replication>
            {% for node_hostname in groups['clickhouse_ip-shard06'] %}
                <replica>
                    <host>{{ node_hostname }}</host>
                    <port>{{ clickhouse_tcp_port }}</port>
                    <user>app_sib</user>
                    <password></password>
                 </replica>
            {% endfor %}
            </shard>
        </distributed_cluster>
    </remote_servers>
</yandex>
