<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <macros>
        <cluster>{{ clickhouse_display_name | default('clickhouse') }}</cluster>
        <shard>01</shard>
        <replica>{{ inventory_hostname }}</replica>
    </macros>
</yandex>
