<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <macros>
        <cluster>{{ cluster }}</cluster>
        <shard>{{ shard }}</shard>
        <replica>{{ inventory_hostname }}</replica>
        <distributed_clusters>{{ distributed_cluster }}</distributed_clusters>
    </macros>
</yandex>
