<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <zookeeper>{% for zookeeper_node in clickhouse_zookeeper_hosts %}
        <node>
            <host>{{ zookeeper_node }}</host>
            <port>{{ clickhouse_zookeeper_port }}</port>
        </node>
        {% endfor %}
        <identity><![CDATA[{{ clickhouse_zookeeper_credentials }}]]></identity>
    </zookeeper>
</yandex>
